

.d-item{
    height: 500px;
}
.d-item{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
}
.float-end{
 align-content: center;
}

p1{
    background-color: #ffb67f;
    border-radius: 4px;
    padding: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    

}

h1{
    text-align: center;
}

.text-bg-success{
    border-radius: 20px
    
}

.logo{
    width: 100px;
    height: 100px;
}
